<div class="overview col-xs-12">
      <div class="col-xs-12 heading">
           <span>
                <h2>ALL SURVEYS</h2>
           </span>
      </div>
      <div class="col-xs-12 o-body">
        <table class="table table-striped table-style">
              <thead>
                   <th>TITLE</th>
                   <th>MODIFIED</th>
                   <th>RESPONSES</th>
                   <th>ACTIONS</th>
              </thead>
              <tbody>
                  <tr ng-repeat="survey in surveys">
                    <td>
                      {{survey.title}}<br>
                      <span class="sub-title">created : {{survey.created | date:'shortDate'}}</span>
                    </td>
                    <td>{{survey.modified | date:'shortDate'}}</td>
                    <td>{{survey.responses}}</td>
                    <td>
                        <a href="#!/dashboard/surveys/edit?id={{survey._id}}" class="icon fa fa-edit"></a>
                        <a href="#!/dashboard/surveys/preview?id={{survey._id}}" class="icon fa fa-eye"></a>
                        <a href="" class="icon fa fa-play"></a>
                        <a href="#!/dashboard/surveys/stats?id={{survey._id}}" class="icon fa fa-line-chart"></a>
                    </td>
                  </tr>
              </tbody>

        </table>
      </div>

      <div class="col-xs-12 o-footer">
        <div class="col-xs-12 o-foot-h">
          <a class="btn btn-primary action" href="#!/dashboard/surveys/edit?id=1">
              <i class="icon fa fa-plus"></i>
              Create Survey
          </a>
        </div>
        <span class="col-xs-12 o-foot-b">
             <h2>ALL SURVEYS : 1 of 1</h2>
        </span>
      </div>
</div>
