<div class="col-xs-12 survey-editor">
   <!--SIDE NAV STARTS HERE-->
    <div class="survey-editor-menu-container col-xs-2 col-sm-4">
         <surveyeditormenu view="setup"></surveyeditormenu>
    </div>
    <!--SIDE NAV ENDS HERE-->

    <!--BODY STARTS HERE-->
    <div class="canvas-container col-xs-10 col-sm-8">
          <!--SETUP STARTS HERE-->
          <div class="col-xs-12 survey-editor-setup-container">
                <form class="col-xs-12" name="setupform" novalidate>
                    <div class="col-xs-12 segment-title">
                        <h4><b>1. Introduction</b></h4>
                    </div>
                    <div class="content col-xs-12 well">
                        <span class="input">
                           <label class="input-label">Title *</label>
                           <input type="text" placeholder="Enter survey title here" class="form-control" ng-model="survey.title" required>
                        </span>
                        <span class="input">
                           <label class="input-label">Description *</label>
                           <textarea rows="8" type="text" placeholder="Describe your survey" class="form-control" ng-model="survey.description" required></textarea>
                        </span>
                    </div>
                     <div class="col-xs-12 segment-title">
                         <h4><b>2. Target Respondents</b></h4>
                     </div>
                     <div class="content col-xs-12 well">
                         <span class="input">
                            <label class="input-label">Geo Location *</label>
                            <input-options list="{{suggessions.country}}" selected="survey.target.countries" placeholder="Add country"></input-options>
                         </span>
                         <span class="input">
                            <label class="input-label">Interests *</label>
                            <input-options list="{{suggessions.interest}}" selected="survey.target.interests" placeholder="Add interest"></input-options>
                         </span>
                     </div>
                     <div class="col-xs-12 segment-title">
                         <h4><b>3. Package Description</b></h4>
                     </div>
                     <div class="content col-xs-12 well">
                       <span class="input">
                          <label class="input-label">Questioneer length *</label>
                          <span class="packages-c col-xs-12">
                               <span class="package-c col-xs-12 col-sm-4" ng-repeat="package in packages">
                                    <span class="col-xs-12 package" ng-click="setPackage(package)">
                                        <div class="col-xs-12 popular-tag" ng-if="package.highlight">
                                             <i class="icon fa fa-star"></i>
                                             Most popular
                                        </div>
                                        <span class="text">
                                             <h1>{{package.title}}</h1>
                                             <h3>Questions</h3>
                                        </span>
                                        <span class="selected-package" ng-show="activePackageClass(package)">
                                            <i class="icon fa fa-check"></i>
                                        </span>
                                    </span>
                               </span>
                          </span>
                       </span>
                       <span class="input">
                          <label class="input-label">Number of responses *</label>
                          <input type="text" placeholder="Number of responses" class="form-control" ng-model="survey.package.responses" min-response required>
                       </span>
                     </div>
                    <div style="margin-bottom:5em" class="col-xs-12"></div><!--Divider that helps creates padding from footer-->
                    <div class="col-xs-12 footer">
                         <span class="pull-right">
                              <button class="btn btn-sm btn-default" ng-click="cancel()">Cancel</button>
                              <button class="btn btn-primary btn-sm" ng-disabled="setupform.$invalid || invalidPackage() || invalidTarget() || saving" ng-click="save(survey)">
                                  <span ng-show="saving"><i class="icon fa fa-spin fa-spinner"></i> Saving changes ...</span>
                                 <span ng-hide="saving"> Save changes</span>
                              </button>
                         </span>
                    </div>
                </form>
          </div>
          <!--SETUP ENDS HERE-->
    </div>
    <!--BODY ENDS HERE-->

</div>
