<div class="col-xs-12 dashboard">
      <div class="col-xs-12 menu-tall">
            <div class="col-xs-12 top-m">
                  <span class="menu-icon" ng-show="isSmall()" ng-click="toggleSubmenu()">
                      <i class="icon fa fa-navicon"></i>
                  </span>
                  <span class="logo">
                      <img src="img/logof.png" alt="" />
                  </span>
                  <a class="btn btn-navbar btn-primary action pull-right" href="#!/dashboard/surveys/edit?id=1">
                      <i class="icon fa fa-plus"></i>
                      Create Survey
                  </a>
            </div>
            <div class="col-xs-12 bottom-m" ng-show="submenuVisible">
                  <ul class="menu-items">
                       <li class="item" ng-class="isActiveClass('surveys')">
                         <a href="#!/dashboard/surveys/overview">My surveys</a>
                       </li>
                       <li class="item" ng-class="isActiveClass('merchant')">
                         <a href="#!/dashboard/merchant">Merchant</a>
                       </li>
                       <li class="item" ng-class="isActiveClass('history')">
                         <a href="#!/dashboard/history">History</a>
                       </li>
                       <li class="item" ng-class="isActiveClass('betalist')">
                           <a href="#!/dashboard/betalist">Betalist</a>
                       </li>
                  </ul>
                  <span class="profile-btn btn btn-xs btn-default pull-right" data-animation="am-flip-x" placement="auto" bs-dropdown="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{user.userInfo.email}}
                        <i class="icon fa fa-caret-down"></i>
                  </span>

            </div>
      </div>
      <div class="col-xs-12 child-view">
           <ui-view></ui-view>
      </div>
</div>
