<div class="col-xs-12 survey-editor">
    <!--SIDE NAV STARTS HERE-->
     <div class="survey-editor-menu-container col-xs-2 col-sm-4"  my-affix id="affix">
          <surveyeditormenu view="builder" select="createQuestion(type)"></surveyeditormenu>
     </div>
     <!--SIDE NAV ENDS HERE-->

    <!--BODY STARTS HERE-->
    <div class="canvas-container col-xs-10 col-sm-8">
          <div class="survey-editor-builder-container col-xs-12">
               <div class="col-xs-12 heading">
                    <span class="text">
                      {{survey.title}}
                    </span>
               </div>
               <div class="col-xs-12 questions-container">
                   <div class="col-xs-12 empty-box" ng-show="questioneer.questions.length==0">
                         <h1>You have not added any questions yet.</h1>
                   </div>
                   <div class="col-xs-12 question-c"  ng-repeat="question in questioneer.questions">
                          <div ng-switch on="question.type">
                               <div ng-switch-when="Multiple_Choice">
                                   <multiple-choice
                                         question="questioneer.questions[$index]"
                                         remove="removeQuestion(index , spinnerName)"
                                         save="saveQuestioneer(spinnerName)"
                                         processing="processing"
                                         mode="edit"
                                         index="{{$index}}">
                                   </multiple-choice>
                               </div>
                          </div>
                   </div>
               </div>
          </div>
    </div>
    <!--BODY ENDS HERE-->
</div>
