<div class="col-xs-12 home-container">
     <div class="col-xs-12 intro-container">
           <div class="col-xs-12 intro">
                <div class="col-xs-12 menu text-center">
                     <span class="logo pull-left">
                          <img src="img/logof.png" alt="taskcoin.io" />
                     </span>
                     <span class="pull-right login">Invited ? login</span>
                </div>
                <div class="col-xs-12 tag-line text-center">
                     <h1>THE NEW MONEY</h1>
                     <h2>FOR MICRO-PAYMENTS</h2>
                     <span>
                         <i class="icon fa fa-youtube-play"></i>
                         Watch concept video
                     </span>
                </div>
          </div>
     </div>
     <div class="col-xs-12 beta-queue" bs-affix>
       <div class="stat-form col-xs-12 col-sm-6 text-left">
           <span class="stat">Reserve your spot <i>with 375 others.</i></span>
       </div>
          <div class="col-xs-12 col-sm-6 stat-form text-center">
               <form name="betaqueue" novalidate>
                 <span class="input">
                    <input type="email" placeholder="Enter your Email address"
                        ng-model="email" required>
                  </span>
                 <button class="btn btn-default btn-sm" ng-disabled="betaqueue.$invalid"
                    ng-click="reserveSpot(email)">join beta test</button>
               </form>
          </div>
     </div>
     <div class="col-xs-12 value-container">
       <div class="col-xs-12 col-sm-8 col-sm-offset-2 value">
         <h1>
              micro-payments powered by <typeform good-text="micro-tasks" bad-text="credit-cards"></typeform>.
         </h1>
         <h2>
              high transaction fees and security risks assocaited
              with credit card micro-payments below 50 cents, makes taskcoin perfect for the job.
         </h2>
       </div>
       <div class="col-xs-12 benefits">
             <div class="benefit col-xs-12 col-sm-4">
                  <span class="b-heading">
                       <img src="img/logo.png" alt="" />
                  </span>
                  <span class="b-body">
                       <h3>Create taskcoins</h3>
                       <h4>
                          Create micro-tasks and Gather feedbacks in realtime from millions
                          of taskcoin users across the web.
                       </h4>
                  </span>
             </div>
             <div class="benefit col-xs-12 col-sm-4">
                  <span class="b-heading">
                      <i class="icon fa fa-money"></i>
                  </span>
                  <span class="b-body">
                       <h3>Merchants</h3>
                       <h4>Collect micro-payments seemlessly from customers by Integrating taskcoin checkout in your websites and apps.</h4>
                  </span>
             </div>
             <div class="benefit col-xs-12 col-sm-4">
                  <span class="b-heading">
                        <i class="icon fa fa-cart-plus"></i>
                  </span>
                  <span class="b-body">
                       <h3>Shop</h3>
                       <h4>Buy apps, pay for articles at your favourite online news stand and so much more.</h4>
                  </span>
             </div>
       </div>

     </div>
     <div class="col-xs-12 footer">
       <span class="copy-right">
           <i class="icon fa fa-copyright"></i> 2016 taskcoin.io
       </span>

       <span class="tel pull-right">
           <a href="email:hello@taskcoin.io" class="icon fa fa-envelope"></a>
       </span>
       <span class="tel pull-right">
           <a href="tel:+2348101639251" class="icon fa fa-phone"></a>
       </span>
       <hr class="hr">
       <span class="foot-item">About</span>
       <span class="foot-item">blog</span>
       <span class="foot-item">API</span>
       <span class="foot-item">Jobs</span>
       <span class="foot-item">Concept</span>
     </div>
</div>
