<div class="col-xs-12 home-container">
     <div class="col-xs-12 intro-container">
           <div class="col-xs-12 intro">
                <div class="col-xs-12 menu text-center">
                     <span class="logo pull-left">
                          <img src="img/logof.png" alt="taskcoin.io" />
                     </span>
                     
                     <span class="pull-right login">Invited ? login</span>
                </div>
                <div class="col-xs-12 tag-line text-center">
                     <h1>THE NEW MONEY</h1>
                     <h2>FOR MICRO-PAYMENTS</h2>
                     <span>
                         <i class="icon fa fa-youtube-play"></i>
                         Watch concept video
                     </span>
                </div>
          </div>
     </div>
     <div class="col-xs-12 beta-queue">
          <div class="col-xs-12 stat-form text-center">
               <span class="stat">375 users on queue</span>
               <span class="input">
                  <input type="email" placeholder="Enter your Email address">
                </span>
               <span class="btn" ng-disabled="true">join beta test</span>
          </div>
     </div>
     <div class="col-xs-12 footer">
       <span class="copy-right">
           <i class="icon fa fa-copyright"></i> 2015 taskcoin.io
       </span>
       <span class="foot-item">About</span>
       <span class="foot-item">API</span>
       <span class="foot-item">Jobs</span>
       <span class="foot-item">Concept</span>
       <span class="foot-item">Contact</span>
     </div>
</div>
