<div class="col-xs-12 pay-survey-container">
   <div class="menu col-xs-12" bs-affix>
        <a class="img-span" href="http://localhost:5001" target="_blank">
           <img src="img/logo.png"  width="50" alt="" />
        </a>

        <span class="profile">
            <i class="icon fa fa-user" ng-click="cancelTask()"></i>
              {{userData.userInfo.email}}
        </span>

        <span class="controls">
            <i class="icon fa fa-refresh" ng-click="refresh(userData.userInfo.email)"></i>
            <i class="icon fa fa-times" ng-click="cancelTask()"></i>
        </span>
     </div>
     <div class="body col-xs-12">
         <div class="refresh" ng-show="refreshing">
             <span class="spinner">
                 <i class="icon fa fa-spin">
                     <img src="img/logo.png" width="50" alt="" />
                 </i>
             </span>
             <span class="error alert alert-danger" ng-show="error">
                   {{error}}<br><br>
                   <button class="btn btn-sm btn-danger" ng-click="cancelTask()">close</button>

             </span>
         </div>
         <div class="col-xs-12 heading">
              <h4><b>{{questioneer.title}}</b></h4>
              <p>{{questioneer.description}}</p>
              <div class="alert alert-warning" style="margin-top:1.4em; border-radius:0; position:relative" ng-show="warning">
                  <i class="icon fa fa-times" style="position:absolute; right:.4em; top:.5em; font-size:1.3em" ng-click="warning=false"></i>
                  Your genuine feedback will be highly appreciated. As it also reflects as karma
                  points on your profile. If you don't totally understand the context of this survey,
                  please click on the refresh button to take another one.
              </div>
         </div>
         <div class="questions">
             <div class="col-xs-12 segment-title">
                  <h4><b>1. Introduction</b></h4>
             </div>

             <div class="col-xs-12" style="font-size:1.2em; padding:2em .7em">
                 <b>* How did you first learn about taskcoin ?<b>
             </div>
         </div>
     </div>
     <div class="col-xs-12 footer">
         <button class="btn btn-primary pull-right" ng-click="doneTask()" ng-disabled="processingCheckout">
           <i class="icon fa fa-spin fa-spinner" ng-show="processingCheckout"></i>
           <span>checkout</span>
         </button>
     </div>
</div>
