<div class="col-xs-12 pay-survey-container">
     <div class="col-xs-12" style="padding:1em; padding-top:2.5em;
          background-color:#005EA6; color:#fff">
          <h4><b>Taskcoin User Review</b></h4>
          <p>
              The essence for this survey is to measure user satisfacion level
              when using taskcoin to make micropayments online, you can add an
              <a style="color:#FDC740;">external link like so for </a> more reference
              or tell the user that taskcoin is a micro-payment solution powered by surveys.
          </p>
          <div class="alert alert-warning" style="margin-top:1.4em; border-radius:0; position:relative">
              <i class="icon fa fa-times" style="position:absolute; right:.4em; top:.5em; font-size:1.3em"></i>
              Your genuine feedback will be highly appreciated. As it also reflects as karma
              points on your profile. If you don't totally understand the context of this survey,
              please click on the refresh button to take another one.
          </div>
     </div>

     <div class="col-xs-12 segment-title">
          <h4><b>1. Introduction</b></h4>
     </div>

     <div class="col-xs-12" style="font-size:1.2em; background-color:#EAEAE8; padding:2em .7em">
         <b>* How did you first learn about taskcoin ?<b>
     </div>
</div>
