<div class="col-xs-12 pay-container">
    <div class="menu col-xs-12" bs-affix>
        <a class="img-span" href="http://localhost:5001" target="_blank">
          <img src="img/logof.png"  alt="" />
        </a>

        <span class="controls">
            <i class="icon fa fa-refresh"></i>
            <i class="icon fa fa-times" ng-click="cancelTask()"></i>
        </span>
    </div>

     <div class="col-xs-12 setup"  ng-hide="init.host && init.auth">
       <span class="init-host"  ng-hide="init.host">
            <span>
                <i class="icon fa fa-spin">
                    <img src="img/logo.png" width="50" alt="" />
                </i>
                <span style="display:block; margin-top:1em; color:#FDC740">{{init.msg}}</span>
            </span>
       </span>
       <span class="init-user col-xs-10 col-xs-offset-1" ng-show="init.host && !init.auth">
           <authy destination="pay.survey" notify="notifyLogin()">
               Login to take survey
           </authy>
       </span>
     </div>

     <!--This is the partial ui view for actual survey-->
     <ui-view></ui-view>
 </div>
