div#taskcoin {
  text-align: center;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  position: fixed;
  top: 0;
  left: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.6s ease-in;
}
iframe {
  width: 50%;
  height: 100%;
  border: none;
}
@media (max-width: 991px) {
  iframe {
    width: 100%;
  }
}
.show {
  margin-left: -100%;
}
