<div class="col-xs-12 textbox">
    <div class="Q col-xs-12">
        <b ><i class="icon fa fa-asterisk"></i> {{question.query}}</b>
    </div>
    <div class="answer col-xs-12">
        <textarea class="form-control" placeholder="Enter your answer here" ng-model="answer.option" ng-show="question.options.inputType == 'textarea'"></textarea>
        <input class="form-control" placeholder="Enter your answer here" ng-model="answer.option" ng-show="question.options.inputType == 'textinput'">
    </div>
</div>
