<!--Multiple_Choice view begins here-->
<div class="question-view col-xs-12" ng-hide="edit" ng-mouseenter="mainActions = true" ng-mouseleave="mainActions=false">
    <div class="Q col-xs-12">
        <b ><i class="icon fa fa-asterisk"></i> {{question.query}}</b>
    </div>
    <div class="answers col-xs-12">
        <div class="option" ng-class="checkbox" ng-repeat="option in question.answers track by $index" ng-click="toggleAnswer($index)">
          <label>
             <span ng-show="question.options.multi">
                <i class="icon fa fa-check-square-o" ng-show="isInAnswer($index)"  ng-class="isInAnswer($index)?'active':''"></i>
                <i class="icon fa fa-square-o" ng-hide="isInAnswer($index)"></i>
             </span>
             <span ng-hide="question.options.multi">
                <i class="icon fa fa-check-circle-o active" ng-show="isInAnswer($index)" ng-class="isInAnswer($index)?'active':''"></i>
                <i class="icon fa fa-circle-thin" ng-hide="isInAnswer($index)"></i>
             </span>
             {{option}}
           </label>
       </div>
       <div class="col-xs-12 comment option" ng-show="question.options.comment && !question.options.multi" ng-click="selectComment(question.answers.length+1)">
           <label>
              <span ng-hide="question.options.multi">
                 <i class="icon fa fa-check-circle-o active" ng-show="commentSelected" ng-class="commentSelected?'active':''"></i>
                 <i class="icon fa fa-circle-thin" ng-hide="commentSelected"></i>
              </span>
              Others
              <div class="col-xs-12 input-box">
                  <input ng-model="answer.comment" class="form-control">
              </div>
            </label>
       </div>
    </div>
    <span class="action-btn" ng-show="mode=='edit' && !edit && mainActions">
        <span class="delete-btn" >
          <span ng-click="deleteQuestion()">
               <i class="icon fa fa-times"></i>
          </span>
        </span>
        <span class="edit-btn" ng-click="editQuestion()">
             <i class="icon fa fa-edit"></i>
        </span>
    </span>
</div>
<!--Multiple_Choice view ends here-->

<!--Multiple_Choice editor begins here-->
<form name="questionOptions" class="col-xs-12" style="padding:0" novalidate ng-show="mode=='edit' && edit">
    <div class="col-xs-12 question-editor" >
         <div class="Q col-xs-12">
             <div class="input-group">
                 <span class="input-group-addon"><b><i class="icon fa fa-asterisk"></i></b> </span>
                 <input type="text" class="form-control" placeholder="Enter question here" ng-model="question.query" required>
             </div>
         </div>
         <div class="answers col-xs-12">
              <h2>Answers* : (All fields should be filled)</h2>
              <div class="input-group answer" ng-repeat="_ in question.answers track by $index">
                  <span class="input-group-addon" ng-click="pickAsAnswer($index)">
                      <input type="checkbox" ng-disabled="!question.options.definite" ng-model="answerOptions[$index]">
                      <span ng-show="question.options.definite">{{answerOptions[$index]}}</span>
                   </span>
                   <span>
                       <input type="text" class="form-control" placeholder="Enter an option here"  ng-model="question.answers[$index]" required>
                   </span>
                   <span class="input-group-addon action">
                        <span ng-click="addAnswer($index)">
                             <i class="icon fa fa-plus"></i>
                        </span>
                        <span ng-click="removeAnswer($index)">
                            <i class="icon fa fa-times"></i>
                        </span>
                   </span>
             </div>
         </div>
         <div class="options col-xs-12">
              <h2>Options</h2>
              <div class="checkbox option">
                <label style="width:100%">
                   <input name="agreed" type="checkbox" ng-model="question.options.multi" ng-click="question.options.comment = false">
                   Allow more than one answer
                   <span class="pull-right">{{question.options.multi ? 'Yes' : 'No'}}</span>
                 </label>
             </div>
             <div class="checkbox option">
               <label style="width:100%">
                  <input name="agreed" type="checkbox" ng-model="question.options.definite">
                  Require a specific answer (eliminate respondents who don’t meet your criteria)
                  <span class="pull-right"><b>option: {{question.answer==''? 'none' :question.answer*1+1}}</b></span>
                </label>
            </div>
            <div class="checkbox option">
              <label style="width:100%">
                 <input name="agreed" type="checkbox" ng-model="question.options.comment" ng-click="question.options.multi = false">
                 Require an optional open-ended comment
                 <span class="pull-right"><b>{{question.options.comment ? 'Yes' : 'No'}}</b></span>
               </label>
           </div>
         </div>
         <div class="footer col-xs-12">
             <span class="pull-right">
                  <button class="btn btn-sm btn-default" ng-click="cancel()">Back</button>
                  <button class="btn btn-primary btn-sm" ng-click="save()" ng-disabled="questionOptions.$invalid || definiteInValid()">
                        Save
                  </button>
             </span>
         </div>
    </div>
</form>
<!--Multiple_Choice editor ends here-->
