<div class="menu col-xs-12" ng-click="changeState('setup')" ng-class="isViewActive('setup')">
<span class="heading">
   <i class="icon fa fa-caret-right  hidden-xs"></i>
   <span class="info-box" ng-class="getInfoClass('setup')" ng-click="setAndDisplayInfo('setup')">
       <i class="icon fa fa-question-circle"></i>
       <span class="info">
         Setup your campaign, by providing useful informations like survey title and description,
         geographical targeting, number of feedbacks etc.
       </span>
   </span>
   <span class="hidden-xs">SET UP</span>
</span>
</div>

<div class="menu col-xs-12" ng-click="changeState('builder')" ng-class="isViewActive('builder')">
  <span class="heading">
     <i class="icon fa fa-caret-down hidden-xs"></i>
     <span class="info-box" ng-class="getInfoClass('builder')" ng-click="setAndDisplayInfo('builder')">
         <i class="icon fa fa-question-circle"></i>
         <span class="info">
              This interface allows you to add components such as multiple-choice, dropdowns and
              much more to your survey.
         </span>
     </span>
     <span class="hidden-xs">BUILDER</span>
  </span>
  <span class="items">
      <a class="item" ng-click="selectItem(qType.name)" ng-repeat="qType in questionsTypes">
          <span class="icon-c">
              <i class="icon fa {{qType.icon}}"></i>
          </span>
          <span class="text">{{qType.name}}</span>
      </a>
  </span>
</div>

<div class="menu col-xs-12" ng-click="changeState('billing')" ng-class="isViewActive('billing')">
  <span class="heading">
     <i class="icon fa fa-caret-right  hidden-xs"></i>
     
     <span class="info-box" ng-class="getInfoClass('billing')" ng-click="setAndDisplayInfo('billing')">
         <i class="icon fa fa-question-circle"></i>
         <span class="info">
           There are two options for payment at the moment, credit-card transfer
           or manual bank transfer.
         </span>
     </span>
     <span class="hidden-xs">BILLING</span>
  </span>
  <span class="items">
    <a class="item">
      <span class="icon-c">
          <i class="icon fa fa-list-alt"></i>
      </span>
      <span class="text">Credit Card</span>
    </a>
    <a class="item">
        <span class="icon-c">
            <i class="icon fa fa-bank"></i>
        </span>
        <span class="text">Manual Bank Transfer</span>
    </a>
  </span>
</div>
