// Core variables and mixins
@import "variables.less";
@import "mixins.less";

// Reset and dependencies
@import "normalize.less";
@import "print.less";
@import "glyphicons.less";

// Core CSS
@import "scaffolding.less";
@import "type.less";
@import "code.less";
@import "grid.less";
@import "tables.less";
@import "forms.less";
@import "buttons.less";

// Components
@import "component-animations.less";
@import "dropdowns.less";
@import "button-groups.less";
@import "input-groups.less";
@import "navs.less";
@import "navbar.less";
@import "breadcrumbs.less";
@import "pagination.less";
@import "pager.less";
@import "labels.less";
@import "badges.less";
@import "jumbotron.less";
@import "thumbnails.less";
@import "alerts.less";
@import "progress-bars.less";
@import "media.less";
@import "list-group.less";
@import "panels.less";
@import "responsive-embed.less";
@import "wells.less";
@import "close.less";

// Components w/ JavaScript
@import "modals.less";
@import "tooltip.less";
@import "popovers.less";
@import "carousel.less";

// Utility classes
@import "utilities.less";
@import "responsive-utilities.less";
@import "hover.less";

 .home-container{
     overflow-x: hidden;
     width:100%;
     padding:0;
     .menu{
        padding:1em 5em;
        border-bottom: 1px solid @gray-light;

        .logo{
           img{
              height:33px;
           }
        }
        .login{
           .btn;
           .btn-default;
           display:inline-block;
           color:lighten(#000 , 5%);
           font-size:1.4em;
           font-weight:bold;
           border:2px solid #FFF;
           padding:.3em .5em;
           border-radius:30px;
           @media (max-width: @screen-sm-max) {
              height:1.7em;
              font-size: 1.3em;
              padding-top:0em;
           }
        }
        @media (max-width: @screen-sm-max) {
           padding:.5em .5em;
           .logo{
               img{
                  height:25px;
               }
           }
        }
     }
     .intro-container{
       padding:0;
       //height:41.5em; //dynamic @TODO
       background:#2098D1 url('../img/home-bg.jpg') center center no-repeat;
       background-size: cover;
     .intro{
         padding:0 4em;
         //height:41.5em; //dynamic @TODO
         background-color: rgba(0, 0, 0, .2);
         @media (max-width: @screen-sm-max) {
            padding:0 1em;
         }

         .tag-line{
             margin-top:4em;
             font-style: oblique;
             color:darken(#fff , 5%);
             h1{
                font-size:5.5em;
                text-shadow: .01em .01em .01em silver;
             }
             h2{
               font-size:2.5em;
             }
             span{
               display:inline-block;
               color:darken(#fff , 15%);
               font-size:1.5em;
               font-weight:bold;
               border:2px solid #fff;
               padding:.5em;
               margin-top:2em;
               margin-right:1em;
               border-radius:30px;
               &:hover{
                  border:2px solid  #FFC73F;
               }
             }
             @media (max-width: @screen-sm-max) {
                .text-center;
                h1{
                   font-size:3em;
                }
                h2{
                   font-size:1.5em;
                }
             }
         }
         .betalist{
            display:inline-block;
            background-color: rgba(0,0,0,.5);
            color:#FFF;
            //border:2px solid #fff;
            border-bottom: none;
            border-radius: 0;

            margin-top:4em;
            padding:2em;
            font-style: oblique;
            .input{
               input{
                  background-color: transparent;
                  color:#fff;
               }
            }
            h2{
                //color:darken(#fff , 50%);
            }
            .join-betalist{
              .btn;
              .btn-default;
              width:100%;
              display:inline-block;
              font-size:1.2em;
              font-weight:bold;
              border:2px solid  #FFC73F;
              background-color: transparent;
              color:@gray;

              padding:.5em;
              margin-top:1em;
              margin-right:1em;
              border-radius:30px;
            }
            @media (max-width: @screen-sm-max) {
               h2{
                  font-size:1.5em;
               }
            }
         }
     }
   }

   //
   .value-container{

      background-color:#EEF3FA;
      min-height:40em;
      padding:4em;
      @media (max-width: @screen-sm-max) {
           padding:1em;
      }
      .value{
        .text-center;
        h1{
            font-size:2.5em;
        }
        h2{
            padding:1em 4em;
            font-size:1.3em;
        }
        @media (max-width: @screen-sm-max) {
             h1{
                 font-size:2.2em;
             }
             h2{
                   padding:1em 1em;
             }
        }

      }
      .benefits{
           margin-top:4em;
           margin-bottom:4em;
           .text-center;
           .benefit{
                max-height:30em;
                padding:3em;
                .b-heading{
                    display:inline-block;
                    height:200px;
                    width:200px;
                    border-radius: 1000px;
                    border:3px solid #FFC73F;
                    img{
                        transform: translate(3%, 100%);
                    }
                    i{
                       display:inline-block;
                       margin-top:70px;
                       font-size: 5em;
                       color:#005EA5;
                    }
                }
                .b-body{
                    h3{
                       font-weight: bold;
                       color:@gray-light;
                    }
                    h4{
                      color:@gray-light;
                      font-style: oblique;
                    }
                }
                &:first-child{
                  .b-heading{
                     border:3px solid #005EA5;
                  }
                }
                &:last-child{
                  .b-heading{
                     border:3px solid #005EA5;
                     i{
                        display:inline-block;
                        margin-top:70px;
                        font-size: 5em;
                        color:#FFC73F;
                     }
                  }
                }
           }
      }

   }
   //
   .footer{
       background-color: lighten(#282C34, 0%);
       border-top: 2px solid softlight(#fff, #000);
       padding:1em 4em;
       .copy-right{
         display:inline-block;
         color:darken(#fff , 40%);
         font-size:1.2em;
         font-weight:bold;
         padding:.5em;
       }
       .tel{
         display:inline-block;
         text-decoration:none;
         color:darken(#fff , 40%);
         font-size:1.4em;
         font-weight:bold;
         padding:.5em;
       }
       .foot-item{
          //.pull-right;
          display:inline-block;
          color:darken(#fff , 40%);
          font-size:1.3em;
          font-weight:bold;
          margin-right:1em;
          padding:.5em;
          &:hover{
             color:#FFF;
          }
       }
       hr{
          border:0.0008em solid @gray;
       }
       @media (max-width: @screen-sm-max) {
           padding:1em 1em;
           .foot-item{
              .pull-left !important;
              font-size:1.1em;
           }
       }
   }
 }

 //
 .dashboard {
     padding:0;
     .menu-tall{
         padding:0;
         background-color: #fff;
         .top-m{
             border-bottom:1px solid lighten(@gray , 50%);
             padding:.7em 6em;
             .menu-icon{
               .pull-left;
               .visible-xs;
               font-size:1.4em;
               margin-right:1em;
               &:hover{
                   color:@brand-primary;
               }
             }
             .logo{
                 .pull-left;
                 img{
                     height:30px;
                 }
             }
             .profile{
                 .pull-right;
             }
             @media (max-width: @screen-sm-max) {
               padding:.6em 1em;
               .logo{
                   .pull-left;
                   img{
                       height:20px;
                   }
               }
               .profile{
                   .pull-right;
               }
             }
         }
         .bottom-m{
             padding:.7em 6em;
             background-color: darken(@gray , 10%);
             .menu-items{
                 padding: 0;
                 .item{
                     display:inline-block;
                     float:left;
                     text-decoration: none;
                     list-style:none;
                     padding:.6em 1em;
                     font-size:1.3em;
                     &:first-child{
                        padding-left:0;
                     }
                     &:hover{
                       a{
                           color:lighten(@gray-light, 30%);
                       }
                     }
                     a{
                         outline: none;
                         text-decoration: none;
                         color:@gray-light;
                     }
                 }
                 .active{
                     a{
                        color:lighten(@gray-light, 50%);
                     }
                 }
             }
             .action{
                 .pull-right;
                 outline: none;
             }
             @media (max-width: @screen-sm-max) {
                padding:.6em 1em;
                .menu-items{
                   .item{
                        .col-xs-6;
                        padding-left:0;
                   }
                }
                .action{
                    .pull-left;
                }
             }
         }
     }

     //
     .child-view{
         padding:0;
         .betalist{
              padding:2em 6em;
              .table-container{
                  padding:0;
              }
              @media (max-width: @screen-sm-max) {
                 padding:1em;
              }
         }
     }
 }

 //
 .my-modal{
     position: fixed;
     top: 0px;
     padding:.5em;
     left: 0px;
     right: 0px;
     bottom: 0px;
     background-color: rgba(0, 0, 0, 0.4);
     z-index:100000;
     overflow: auto;
     .modal-box{
       min-height:25em;
       box-shadow: 0 5px 15px rgba(0,0,0,.5);
       border-radius: 0;
       display:inline-block;
       background-color:#fff;
       background:#FFF url('../img/thankyou.png') center center no-repeat;
       background-size: cover;
       margin-left:50%;
       transform: translate(-50%, 0%);
       margin-top:4em;
       margin-bottom: 10em;
       padding:2em;
       padding-bottom:0;
       color:#FFC73F;
       h2{
          font-size: 2.4em;
          font-weight: 400px;
       }
       h3{  //
          font-size: 1.7em;
          color:#FFF;
       }

       @media (max-width: @screen-sm-max) {
          padding: 2em;
          h2{
            font-size:2em;
          }
          h3{
             font-size: 1.5em;
             color:#FFF;
          }
       }
       .modal-footer{
           position: absolute;
           text-align:left;
           bottom:0;
           left: 0;
           min-height:5em;
           background-color:#EEF3FA;
           margin-top:20em;
           .social{
               display:inline-block;
               color:@gray-light;
               font-size:1.4em;
               font-weight:bold;
               border-right:2px solid darken(#EEF3FA, 15%);;
               padding:.2em .6em;
               margin-right:1em;
           }
           .tel{
                a{
                  display:inline-block;
                  text-decoration:none;
                  color:darken(#EEF3FA , 15%) !important;
                  font-size:1.4em;
                  font-weight:bold;
                  padding:.5em;
                  &:hover{
                      color:darken(#EEF3FA , 30%) !important;
                  }
                }
           }
       }
       .invite-auth{
           h2{
             font-size:1.7em;
           }
           input{
             margin-top:2em;
             margin-bottom: 1em;
           }
           span{
               display:inline-block;
               color:darken(#fff , 40%);
               font-size:1.3em;
               font-weight:bold;
               border:2px solid #fff;
               padding:.3em .6em;
               margin-top:2em;
               margin-right:1em;
               border-radius:30px;
               &:hover{
                  border:2px solid  #FFC73F;
               }
           }
       }
     }
 }

 //General css rules
 .no-outline{
      outline:none !important;
 }
